.container{
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card{
    margin: 20px;
    max-width: 150px;
    overflow: hidden;
    border-radius: 10px;
    border-color: var(--color-primary);
}
.card:hover{
    cursor: pointer;
}

.cardTitle{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-overflow: clip;
    margin:0px;
    height: 4rem;
}